@import 'base/variables';
html {
    box-sizing: border-box;
    scroll-behavior:smooth;
}

.container {
    max-width:  1440px;
    width: 90%;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/preview';
@import 'blocks/steps';
@import 'blocks/destinations';
@import 'blocks/stories';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/overlay';
@import 'blocks/popup';