.footer {
    padding: 25px 0 19px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__rs {
        display: flex;
        align-items: center;
    }
    &__rsschool {
        width: 100px;
        height: 100px;
    }
    &__github {
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    &__text {
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: $third-color;
    }
    &__items {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__item {
        margin-right: 20px;
        a {
            text-decoration: none;
        }
    }
    &__fill:hover{
        path  {
            fill: #000;
            transition: 0.6s ease-in-out;
        }
    }
    &__item:last-child {
        margin-right: 0;
    }    
}